@import url("./fonts/inter.css");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e6e6e6;
  min-width: 320px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tracker {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 60px;
  color: #000;
}

.tracker__title {
  font-family: 'Inter', sans-serif;
  color: #1b1b1b;
  text-align: center;
  margin: 0;
  margin-bottom: 60px;
}

.tracker__subtitle {
  font-size: 36px;
  color: #1b1b1b;
  text-align: center;
  padding-bottom: 15px;
  margin: 40px auto;
  width: 85%;
  border-bottom: 1px solid #000;
}

.tracker__label {
  font-size: 26px;
}

.tracker__label:first-child {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
}

.tracker__block {
  display: flex;
  justify-content: space-evenly;
  margin-left: 20px;
  margin-right: 20px;
}

.tracker__balance-block {
  display: flex;
  width: 384px;
  border-radius: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 5px 5px  #777777;
  flex-direction: column;
  gap: 20px;
}
.tracker__expence-title {
  font-size: 30px;
  font-weight: 500;
  margin: 0;
}
.tracker__balance {
  font-weight: 500;
}
.tracker__expence-total {
  margin: 0;
  color: #eb0b0b;
  font-weight: 500;
}
.tracker__balance-title {
  font-size: 30px;
  font-weight: 500;
  margin: 0;
}

.tracker__income-title {
  font-size: 30px;
  font-weight: 500;
  margin: 0;
}
.tracker__income-total {
  margin: 0;
  color: #00b41e;
  font-weight: 500;
}

.tracker__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 5px 5px  #777777;
  padding: 20px;
}

.tracker__input {
  font-size: 20px;
  background-color: transparent;
  border: 2px solid #000000;
  outline: none;
  padding: 5px;
  border-radius: 10px;
}

.tracker__category {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.tracker__icon {
  width: 40px;
  padding: 4px;
  height: 40px;
}
.tracker__category-icon {
  position: absolute;
  left: -50px;
  width: 33px;
  height: 33px;
  pointer-events: none;
}
.tracker__money {
  font-size: 56px;
}
.tracker__radio {
  visibility: hidden;
  position: absolute;
}
.tracker__radio:checked + .tracker__icon {
  outline: 3px solid rgb(20, 109, 224);
}   

.tracker__radio:hover + .tracker__icon {
  outline: 3px solid rgb(20, 109, 224);;
}  
.tracker__icon {
  cursor:pointer;
  background-color: #dbdbdb;
  border-radius: 10px;
}
.tracker__history {
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
}
.tracker__history-list {
  list-style: none;
  width: 85%;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 40px;
  color: #1b1b1b;
}
.tracker__history-item {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 10px;
  height: 45px;
  margin-left: 50px;
  background-color: #fff;
  box-shadow: 0px 3px 2px #777777;
}
.tracker__history-name {
  font-size: 24px;
  margin: 0;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 10px;
  margin-left: 8px;
}
.tracker__cost {
  font-size: 24px;
  padding-right: 8px;
}
.tracker__history-item_expence {
  border-right: 6px solid #d40000;
}

.tracker__history-item_income{
  border-right: 6px solid #3fe60d;
}
.tracker__button {
  border-radius: 10px;
  font-size: 18px;
  border: none;
  height: 40px;
  cursor: pointer;
  color: #fff;
  transition: .5s ease;
  background-color: rgb(20, 109, 224);
}
.tracker__button:hover {
  opacity: 0.7;
}
.tracker__button-delete {
  display: none;
  position:absolute;
  right: -35px;
  top: 12px;
  border: none;
  background-color: transparent;
  color: #1b1b1b;
  cursor: pointer;
  font-size: 20px;
  transition: .5s ease;
}
.tracker__history:hover  .tracker__button-delete {
  display: block;
}
.tracker__button-delete:hover {
  opacity: 0.7;
}

@media screen and (max-width:470px) {
  .tracker__balance-title {
    font-size: 26px;
  }
  .tracker__income-title {
    font-size: 26px;
  }
  .tracker__expence-title {
    font-size: 26px;
  }
  .tracker__money {
    font-size: 42px;
  }
  .tracker__balance-block {
    width:90%;
  }
}


@media screen and (max-width: 920px) {
  .tracker__block {
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }
  
}


